extends ../layout

block content
  div(class="search-bar")
    form(action="books/search" )
      input(type="search" name="term" placeholder="Search...")
      input(type="submit", value="search", class="search-button")
  p
    a(href="/books/new", class="button") Create a New Book
  table
    tr   
      th Title
      th Author
      th Genre
      th Year
    each row in rows 
      tr 
        td
          a(href = "/books/" + row.id + "/update") #{row.title}
        td= row.author
        td= row.genre
        td= row.year
  include links
