extends ../layout

block content
  div(class="search-bar")
    form(action="/books", method="post" )
      input(type="search" name="term" placeholder="Search...")
      input(type="submit", value="search", class="search-button")
  p
    a(href="/books/new", class="button") Create a New Book
  table
    tr   
      th Title
      th Author
      th Genre
      th Year
    each book in books.rows
      tr 
        td
          a(href = "/books/" + book.id + "/update") #{book.title}
        td= book.author
        td= book.genre
        td= book.year
  include links
