extends ../layout
block content
    //- body( style='background-image: url(../../../../public/images/booksBackground.jpg);')
    h1 It seems like the page your looking for doesn't exist. 
        p Sorry about that!  
        p
            a(class="button" href="../")  Home
            