- let number = 1
div(class="pagination")
    ul
        while number <= neededPages
            li
            a(href =`/books/?page=${number}&term=${query}`, class=`button ${number === parseInt(page) ? "active":""}`)= number++
a(class="button" href="../")  Go back

