- let number = 1
    div(class="pagination")
     ul
         while number <= neededPages
             li
             a(href =`/books/?page=${number}`, class=`button ${number === parseInt(page) ? "active":""}`)= number++